<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %> 
<body>
  
  <%- include ('partials/header') %>

  <section id="hero">
    <div class="hero-container">
      <h1><%= title%></h1>
      <h2><%= occupation %></h2>
    </div>
  </section>

 
</body>
<%- include ('partials/footer') %>
<%- include ('partials/scripts') %>
</html>