<%- include ('partials/head') %> 
<body>

  <%- include ('partials/header') %>


  <main id="main">


</main>
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
       </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-rotate-left bx-spin"></i></div>
            <h4 class="title"><%=services.service1%></h4>
            <p class="description"><%=services.service1desc%></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-scan bx-fade-down"></i></div>
            <h4 class="title"><%=services.service2%></h4>
            <p class="description"><%=services.service2desc%></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-cloud bx-burst"></i></div>
            <h4 class="title"><%=services.service3%></h4>
            <p class="description"><%=services.service3desc%></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-user bx-tada"></i></div>
            <h4 class="title"><%=services.service4%></h4>
            <p class="description"><%=services.service4desc%></p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="mywork" class="mywork">
    <div class="container">

      <div class="section-title">
        <h2>Mywork</h2>
      </div>

      <div class="row mywork-container">

        <div class="col-lg-4 col-md-6 mywork-item">
          <div class="mywork-wrap">
            <img src="images/mywork/mywork-1.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mywork-item">
          <div class="mywork-wrap">
            <img src="images/mywork/mywork-2.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mywork-item">
          <div class="mywork-wrap">
            <img src="images/mywork/mywork-3.jpeg" class="img-fluid" alt="">
           
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mywork-item">
          <div class="mywork-wrap">
            <img src="images/mywork/mywork-4.jpg" class="img-fluid" alt="">
           
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mywork-item">
          <div class="mywork-wrap">
            <img src="images/mywork/mywork-5.png" class="img-fluid" alt="">
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mywork-item">
          <div class="mywork-wrap">
            <img src="images/mywork/mywork-6.jpg" class="img-fluid" alt="">
            
          </div>
        </div>
      </div>

    </div>
  </section>
</body>
<%- include ('partials/footer') %>
<%- include ('partials/scripts') %>