<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %> 
<body>
  
  <%- include ('partials/header') %>

  <section id="update" class="update">
    <div class="section-title col-lg-6 offset-lg-3">
        <h2>Update details</h2>
         </div>

         <div class="data-form" >
            <form method="POST" action="/update" class="col-lg-6 offset-lg-3">
                <input type="hidden"  id="_id" name="_id" value="<%=user%>"> 
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="Enter Name" required >                   
                </div>
                  <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="contact" class="form-control" id="contact" name="contact" placeholder="Enter Contact" required >
                  
                  </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required placeholder="Enter email">
                    
                </div>
                  
                  <button type="submit" class="btn btn-primary">Update</button>
                 
                  
            </form>
            
          </div>   

  </section>
 
</body>
<%- include ('partials/footer') %>
<%- include ('partials/scripts') %>
</html>